
@{
    ViewBag.Title = "personal_Details";
}

<h2>Personal Details</h2>
<table border="0">
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>@ViewBag.details.name</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>:</td>
        <td>@ViewBag.details.age</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>:</td>
        <td>@ViewBag.details.position</td>
    </tr>
    <tr>
        <td>email</td>
        <td>:</td>
        <td>@ViewBag.details.email</td>
    </tr>
    <tr>
        <td>Phone no</td>
        <td>:</td>
        <td>@ViewBag.details.phone</td>
    </tr>
</table>

